@import './Constants.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway&display=swap');

.category-card {
    /* border: 1px solid black; */
    border-radius: 2px;
    cursor: pointer;
}

.category-name {
    background-color: rgba(0,0,0,0.5);
    /* width: 30%; */
    width: auto;
    height: auto;
    /* padding: 0.5rem;*/
    margin: auto; 
    color: var(--primary-color);
    font-style: Raleway;
    text-decoration: none !important;
    font-size: 1.5rem;
}
a:-webkit-any-link {
    text-decoration: none;
}

.category-image {
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 250px;
}